@use "sass:math";

@function rem($pixel) {
  // divide pixel by 16 to return rems
  @if math.is-unitless($pixel) {
    @return math.div($pixel, 16) + rem;
  } @else {
    @error "Don\'t use units when using rem()";
  }
}

@function em($pixel) {
  // divide pixel by 16 to return ems
  @if math.is-unitless($pixel) {
    @return math.div($pixel, 16) + em;
  } @else {
    @error "Don\'t use units when using em()";
  }
}
