@use "../util/" as u;

.card {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 4fr 1fr;

  picture {
    grid-column: 1/-1;
    grid-row: 1/-1;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  p {
    grid-column: 2/8;
    grid-row: 2;
    margin: 0;
    justify-self: start;
    align-self: end;
  }

  @include u.breakpoint(medium) {
    p {
      grid-column: 2/5;
    }
  }
}
