@use "../util/" as u;

body {
  display: grid;
  row-gap: calc(2 * var(--spacing-1000));
}

.grid {
  --space-lr: 40px;
  --space-gap: 20px;
  --col-count: 1;

  display: grid;

  grid-template-columns:
    1fr repeat(
      var(--col-count),
      calc(
        (
            min(100% - var(--space-lr), 90em) - (var(--col-count) - 1) *
              var(--space-gap)
          ) / var(--col-count)
      )
    )
    1fr;
  column-gap: var(--space-gap);

  @include u.breakpoint(medium) {
    --space-lr: var(--spacing-1000);
  }

  &__menu {
    height: 100dvh;
    grid-template-rows: min-content 1fr 1fr;
    align-items: end;
  }

  &__logo,
  &__menubar {
    grid-column: 2;
    display: grid;
  }

  &__menubar {
    gap: var(--spacing-0300);
  }

  &__footer {
    row-gap: var(--spacing-0500);
    padding-top: var(--spacing-0600);
    padding-bottom: var(--spacing-0600);
    @include u.breakpoint(medium) {
      --col-count: 2;
    }
  }

  &__footer-logo,
  &__footer-nav,
  &__socials,
  &__footer-copyright {
    grid-column: 2;
    display: grid;
    justify-items: center;
  }

  &__footer-logo {
    @include u.breakpoint(medium) {
      grid-column: 2;
      grid-row: 1;
      justify-content: start;
    }
  }

  &__footer-nav {
    display: grid;
    gap: var(--spacing-0200);
    @include u.breakpoint(medium) {
      grid-column: 2;
      grid-row: 2;
      justify-content: start;
      grid-template-columns: repeat(5, min-content);
    }
  }

  &__socials {
    grid-template-columns: repeat(4, min-content);
    justify-content: center;
    gap: var(--spacing-0200);
    @include u.breakpoint(medium) {
      grid-column: 3;
      grid-row: 1;
      justify-content: end;
    }
  }

  &__footer-copyright {
    @include u.breakpoint(medium) {
      grid-column: 3;
      grid-row: 2;
      justify-content: end;
    }
  }

  &__hero-section {
    --tb-spacing: var(--spacing-0300);

    grid-template-rows: var(--tb-spacing) repeat(
        3,
        calc(100% / 3) var(--tb-spacing)
      );

    @include u.breakpoint(medium) {
      --tb-spacing: var(--spacing-0800);
    }

    @include u.breakpoint(large) {
      --tb-spacing: var(--spacing-0800);
      grid-template-rows: var(--tb-spacing) min-content 1fr var(--tb-spacing);
    }
  }

  &__hero-image {
    grid-column: 1/-1;
    grid-row: 1/-1;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .navigation {
    grid-column: 2;
    grid-row: 2;
  }

  &__navigation {
    display: grid;
    justify-content: stretch;

    @include u.breakpoint(large) {
      --col-count: 2;
      height: min-content;
      background-color: transparent;

      button {
        display: none;
      }
    }
  }

  &__logo,
  &__navbar {
    grid-column: 2;
    display: grid;
  }

  &__logo {
    grid-template-columns: repeat(2, min-content);
    justify-content: space-between;
    grid-column: 1;

    @include u.breakpoint(large) {
      .button__menu {
        display: none;
      }
    }
  }

  &__navbar {
    display: none;

    @include u.breakpoint(large) {
      display: grid;
      gap: var(--spacing-0300);
      grid-column: 3/4;
      grid-template-columns: repeat(5, min-content);
      justify-content: end;
    }
  }

  &__hero-text {
    grid-column: 2;
    grid-row: 3;
    display: grid;
    align-items: center;
    align-self: center;

    padding: min(var(--spacing-0200)) var(--spacing-0300);
    border: 1px solid var(--white);

    @include u.breakpoint(medium) {
      padding: var(--spacing-0500) var(--spacing-0500);
    }

    @include u.breakpoint(large) {
      grid-row: 3;
      max-width: 650px;
    }

    .hero-text {
      margin: 0;
    }
  }

  &__company-history {
    row-gap: var(--spacing-0600);

    .image {
      grid-column: 2;
      width: 100%;

      img {
        width: 100%;
      }
    }
    .text-content {
      grid-column: 2;
      padding-inline: var(--spacing-0300);
    }

    @include u.breakpoint(large) {
      overflow: visible;
      grid-template-rows: 1fr min-content;

      --col-count: 8;
      --space-gap: 30px;

      .image {
        grid-row: 1/-1;
        grid-column: 2/6;
      }
      .text-content {
        grid-column: 5/-2;
        grid-row: 2;
        display: flex;
        flex-direction: column;
        padding-top: var(--spacing-1000);
        padding-left: var(--spacing-1000);
        align-items: end;
        justify-content: flex-end;
        justify-items: flex-end;
        row-gap: var(--spacing-0300);
        * {
          margin: 0;
        }
      }
    }
  }

  &__company-products {
    justify-content: center;
    justify-items: center;
    row-gap: var(--spacing-0400);

    > * {
      grid-column: 2/-2;
    }

    .header h2 {
      margin: 0;
    }

    .button__all-products {
      border: 1px solid var(--black);
      border-radius: 2px;
      padding: var(--spacing-0200) var(--spacing-0500);
    }

    @include u.breakpoint(large) {
      --col-count: 2;
      grid-template-rows: min-content 1fr;

      header {
        grid-row: 1;
        grid-column: 2;
        justify-self: start;
      }

      .see-all-button {
        grid-row: 1;
        grid-column: 3;
        justify-self: end;
      }
    }
  }

  &__product-listing {
    display: grid;
    justify-content: stretch;

    @include u.breakpoint(large) {
      grid-template-columns: repeat(4, 1fr);
      gap: var(--spacing-0400);
    }
  }
}
