@use "../util/" as u;

:root {
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --grey-200: rgb(216, 216, 216);
  --blue-100: rgb(229, 234, 241);
  --blue-050: rgb(246, 250, 255);
  --gradient-1: linear-gradient(var(--white), var(--grey-200));

  --text-color: --white;
}

.bg-black {
  --background-color: var(--black);

  background-color: var(--background-color);
}

.bg-white {
  --background-color: var(--white);

  background-color: var(--background-color);
}

.button__menu {
  background-color: transparent;
  border: none;
}

.hero-text {
  color: var(--white);
}

.company-history .text-content {
  background-color: var(--white);
}

.button__all-products {
  background-color: var(--white);
}

.product-listing div p {
  color: var(--white);
}
