@use "../util/" as u;

:root {
  --font-1: #{300 u.rem(72)}/#{1} #{u.$font1};
  --font-2: #{300 u.rem(48)}/#{1} #{u.$font1};
  --font-3: #{300 u.rem(40)}/#{1} #{u.$font1};
  --font-4: #{300 u.rem(32)}/#{1} #{u.$font1};
  --font-5: #{300 u.rem(24)}/#{1} #{u.$font1};
  --font-6: #{400 u.rem(15)}/#{1.65} #{u.$font2};
  --font-7: #{400 u.rem(14)}/#{1} #{u.$font2};
  --font-7-letterspacing: 5px;
}

h1,
h2,
h3 {
  // font-weight: 700;
  // line-height: 1.1;
  margin-top: 0;
}

h1 {
  font-size: clamp(u.rem(28), u.rem(16) + 2vw, u.rem(40));
}

h2 {
  font-size: clamp(u.rem(22), u.rem(14) + 2vw, u.rem(36));
}

p {
  margin-top: 0;
  font-size: u.rem(16);
  font: var(--font-6);
}

a {
  text-decoration: none;
  font: var(--font-5);
  color: var(--white);

  @include u.breakpoint(large) {
    font: var(--font-6);
  }
}

.navigation a,
footer a,
.company-history p {
  font: var(--font-6);
}

.company-history p {
  text-align: center;
}

h1 {
  font: var(--font-4);
  text-transform: uppercase;

  @include u.breakpoint(small) {
    font: var(--font-3);
  }

  @include u.breakpoint(medium) {
    font: var(--font-1);
  }
}

h2 {
  font: var(--font-4);
  text-transform: uppercase;

  text-align: center;

  @include u.breakpoint(medium) {
    font: var(--font-2);
  }
}

.button__all-products {
  font: var(--font-7);
  letter-spacing: var(--font-7-letterspacing);
  text-transform: uppercase;
}

.product-listing div p {
  font: var(--font-5);
  text-transform: uppercase;

  @include u.breakpoint(large) {
    font: var(--font-4);
  }
}
